<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button (click)="cargar()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Cargar Un Elemento
          </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="vaciar()" type="button" class="btn waves-effect waves-light btn-rounded btn-success">
            <i class="fa fa-plus"></i>
           Vaciar Contenedor
          </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button (click)="getHistorial()" type="button" class="btn waves-effect waves-light btn-rounded btn-warning">
            <i class="fa fa-plus"></i>
            Obtener Elementos Iniciales
          </button>
        </div><br><br><br>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>gender</th>
            <th>ip_address</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let enc of historial">
            <td>
              {{enc.id}}
            </td>
            <td>
              {{enc.first_name}}
            </td>
            <td>
              {{enc.last_name}}
            </td>
            <td>
              {{enc.email}}
            </td>
            <td>
              {{enc.gender}}
            </td>
            <td>
              {{enc.ip_address}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
